{% extends "base.html.twig" %}
{% block body %}
<h3>Créer un quiz :</h3>
	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
	{{ form_row(form.name) }}
	<input type="submit" class="btn btn-primary" value="Créer le quiz"/>
	{{ form_end(form) }}
{% endblock %}
